<h1><%= @user.username %>'s Profile </h1>

<h3><%= @user.email %></h3>

<div class="profile_image">
  <%= image_tag @user.profile_photo %>
</div>

<div>Admin?:<%=@user.admin? %></div>
<%= link_to 'Edit Your Profile', edit_user_registration_path %>
<div>
<% if current_user.admin? === true %>
  <div><%= link_to 'Users', users_path %></div>
<%else%>
<%end%>
</div>
