<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Retro Game Reviews" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="/">Home</a></li>
          <% if !user_signed_in? %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <%end%>
          <% if user_signed_in? %>
            <li><%= link_to "Profile", user_path(current_user.id) %></li>
            <li><%= link_to "Add Game", new_game_path %></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Log in", new_user_session_path %></li>

          <% end %>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li class="has-form">
            <%= form_tag games_path, method: :get do %>
              <%= text_field_tag :query %>
              <%= submit_tag "Search" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="row column main">
      <%= yield %>
    </div>

  </body>
</html>
